<div class="text-center mt-3">
  <h2>{{ pagination.totalItems }} League(s) found</h2>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-12 table-responsive ">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th><i class="fab fa-slack-hash"></i></th>
            <th>
              Name
            </th>
            <th>
              Difficulty
            </th>
            <th>
              Format
            </th>
            <th>
              Rounds
            </th>
            <th>
              Win Points
            </th>
            <th>
              Started
            </th>
            <th>
              Closed
            </th>
            <th>
              Default League
            </th>
            <th>
              Group League
            </th>
            <th>
              Winner
            </th>
            <th>
              Rules
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let league of leagues; index as i"
            id="{{ i }}"
            [ngClass]="{ 'table-active': selectedIndex == i }"
            (click)="setSelected(i)"
          >
            <td class="text-info">
              <span style="font-weight:900;">{{ i + 1 }}</span>
            </td>
            <td class="text-black-50">
              <strong>{{ league.name }}</strong>
            </td>
            <td>
              {{ league.difficulty }}
            </td>
            <td>
              {{ league.format }}
            </td>
            <td>
              {{ league.rounds }}
            </td>
            <td>
              {{ league.winPoints }}
            </td>
            <td>
              {{ league.startDate | timeAgo }}
            </td>
            <td>
              {{ league.isClosed ? "Yes" : "No" }}
            </td>
            <td>
              {{ league.isDefaultLeague ? "Yes" : "No" }}
            </td>
            <td>
              {{ league.isGroupLeague ? "Yes" : "No" }}
            </td>
            <td>
              <span class="label label-success block fa fa-trophy">
                &nbsp;&nbsp; {{ league.winner }}
              </span>
            </td>
            <td>
              <a
                href="javascript:void(0)"
                class="list-group-item p-1"
                (click)="openModal(template)"
                >View Rules</a
              >
              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">
                    Rules for {{ league.name }}
                  </h4>
                  <button
                    type="button"
                    class="close pull-right"
                    aria-label="Close"
                    (click)="modalRef.hide()"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img
                    id="imagepreview"
                    src="{{ setPath(league.rulesFileName) || '//placehold.it/800x600' }}"
                    alt="Not Found"
                    class="img-fluid"
                  />
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
