/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
@import '../node_modules/bootswatch/dist/minty/bootstrap.min.css';
/* @import '../node_modules/font-awesome/css/font-awesome.min.css'; */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/flag-icon-css/css/flag-icon.min.css';

@media (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
}

body {
  font-size: 13px;
  background: #FAFAFA;
}

.table th {
  text-align: center;
  white-space: nowrap;
}

.table td {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.table {
  font-size: 12px;
}

select.ng-invalid {
  color: #999;
}

.box {
  position: relative;
  background: #ffffff;
  border-top: 2px solid #c1c1c1;
  /* margin-bottom: 20px; */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*width: 100%;*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box.box-solid {
  border-top: 0px;
}

.col-form-label {
  font-weight: 700;
}

@media (min-width: 992px) {
  .col-form-label {
    text-align: right;
  }
}

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }

  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }

  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }

  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }

  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }

  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
  }

  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }

  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }

  .member-tabset > .tab-content {
    margin-top: -3px;
    /* background-color: #fff; */
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  